DB_PASSWORD=fortress_dev
STORAGE_PATH=./storage
LOG_LEVEL=info
WAHA_API_URL=http://waha:3000
ADMIN_PHONE=972559102836
WAHA_API_KEY= WAHA_API_KEY
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD= WAHA_DASHBOARD_PASSWORD